{% extends 'base.html.twig' %}

{% block title %}LocaBoat{% endblock %}

{% block body %}

    <div>
        <img class="img-fluid w-100" src="{{ asset('asset/img/accueil.jpg') }}">
    </div>

{% endblock %}
